<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite"  parallel="tests">

    <test name="TestSuit1" parallel="tests" >
        <classes>
            <class name ="RoomsHotel"/>

        </classes>
    </test>

 <test name="TestSuit2" parallel="tests" >
        <classes>

            <class name ="EventsCalendar"/>

        </classes>
    </test>

</suite>